@tailwind base;
@tailwind components;

.btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded;
}

@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
